body{
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	font-size:20px;
	line-height: 30px;
}

header{
	background-color: #F9C579;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Mali', cursive;
}

header h1{
	color: #C77135;
	font-size: 60px;
}

header img{
	border-radius: 170px;
    width: 300px;
    border: 15px solid #C77135;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #C77135;
	margin: 40px, 0, 10px;
}

a{
	color: #C77135;
}

a:hover{
	color: #F9C579;
}

footer{
	background-color: #F9C579;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}
footer a{
	color:white;
}

footer a:hover{
	background-color: white;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}